/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-IMG_11032016_160446 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 1602px;
  height: 948px;
}
.icon-russia:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -948px;
  width: 640px;
  height: 480px;
}
.icon-russia {
  background-image: url(../img/sprite.png);
  background-position: -640px -948px;
  width: 640px;
  height: 480px;
}

.m-top-baner {
  background-image: url("../img/n-baner.jpg");
  background-size: cover;
  background-position: center top;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .m-top-baner {
    background-color: #f1f6fb;
    background-image: url("../img/absurdity.png");
    background-repeat: repeat;
    background-size: inherit;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .m-top-baner .btn.btn-nalogia {
    white-space: normal;
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) {
  .m-top-baner__btn {
    text-align: center;
  }
  .m-top-baner__btn .btn {
    font-size: 12px !important;
  }
}
.m-top-baner__title {
  color: #337ab7;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .m-top-baner__title {
    text-align: center;
    font-size: 24px;
  }
}
.m-top-baner__info {
  color: #333;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .m-top-baner__info {
    text-align: center;
  }
}
.m-top-baner {
  position: relative;
}
.m-top-baner__footer {
  width: 95%;
  position: absolute;
  text-align: center;
  bottom: 70px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
@media only screen and (max-width: 768px) {
  .m-top-baner__footer {
    position: static;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 14px;
  }
}
.m-top-baner__footer a {
  color: #377ebb;
  font-weight: 700;
}
.m-section__title {
  margin-bottom: 50px;
  text-align: center;
  color: #333;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .m-section__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .m-section-work__el {
    margin-bottom: 20px;
  }
}
.m-section-work__img {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .m-section-work__img:before {
    content: '';
    position: absolute;
    background-image: url("../img/n-icon-arrow.png");
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
    right: -20px;
    top: 50%;
    margin-top: -10px;
  }
}
.m-section-work__img img {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.m-section-work__text {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}
.lch:before {
  content: '';
  background-image: none !important;
}
.m-section {
  padding: 80px 0;
}
@media only screen and (max-width: 768px) {
  .m-section {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .m-section .btn.btn-nalogia {
    white-space: normal;
    font-size: 13px;
  }
}
.m-section-chouse__img {
  position: relative;
}
.m-section-chouse__img img {
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}
.m-section-chouse__text {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
}
.m-section-chouse {
  background-color: #f1f6fb;
  background-image: url("../img/absurdity.png");
}
.m-section-chouse__chouse {
  margin: 50px 0px;
}
@media only screen and (max-width: 768px) {
  .m-section-chouse__chouse {
    margin: 20px 0px;
  }
}
.m-section-chouse__footer {
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
@media only screen and (max-width: 768px) {
  .m-section-chouse__footer {
    font-size: 14px;
  }
}
.m-section-chouse__footer a {
  color: #377ebb;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .m-section-chouse__el {
    margin-bottom: 20px;
  }
}
.m-section-review {
  background-color: #f7f9fa;
}
.m-section-review__text {
  color: #333;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .m-section-review__text {
    margin-top: 40px;
  }
}
.m-section-review__text:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 24px;
  background-image: url("../img/n-icon-bracket-left.png");
  top: -30px;
  left: -20px;
}
.m-section-review__text:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 24px;
  background-image: url("../img/n-icon-bracket-right.png");
  bottom: -30px;
  right: -20px;
}
.m-section-review__name {
  margin-top: 60px;
  margin-bottom: 50px;
  color: #333;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .m-section-review__name {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .m-section__title {
    font-size: 24px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}
.m-section-variant-el {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .m-section-variant-el {
    width: 100%;
  }
}
.m-section-variant-el span {
  font-size: 12px;
}
.m-section-variant-el__content {
  padding: 40px 60px;
  background-color: #e5e9ed;
  -webkit-border-radius: 8px 8px 0px 0px;
          border-radius: 8px 8px 0px 0px;
  -webkit-box-shadow: 0 0 17px rgba(0,28,53,0.1);
          box-shadow: 0 0 17px rgba(0,28,53,0.1);
  height: 290px;
}
@media only screen and (max-width: 768px) {
  .m-section-variant-el__content {
    padding: 20px 20px;
    height: auto;
  }
}
.m-section-variant-el__title {
  color: #3b81be;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  height: 50px;
}
@media only screen and (max-width: 768px) {
  .m-section-variant-el__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.m-section-variant-el__val {
  color: #000;
  font-family: Open Sans;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.m-section-variant-el__footer {
  background-color: #3b81be;
  padding: 50px 60px;
  color: #fff;
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 0px 0px 8px 8px;
          border-radius: 0px 0px 8px 8px;
}
@media only screen and (max-width: 768px) {
  .m-section-variant-el__footer {
    padding: 20px 20px;
  }
}
.m-section-variant__text {
  color: #333;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  margin: 0 auto;
  width: 60%;
  height: 100px;
}
@media only screen and (max-width: 768px) {
  .m-section-variant__text {
    font-size: 16px;
    width: 100%;
  }
}
/*
 * ADD STYLE SLIDER
 */
.m-el-slider {
  height: 400px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 480px) {
  .m-el-slider {
    height: 200px;
  }
}
.m-wrap-slider {
  -webkit-box-shadow: 0px 3px 8px #e3e3e3;
          box-shadow: 0px 3px 8px #e3e3e3;
}
.m-wrap-slider {
  *zoom: 1;
  width: auto;
  max-width: 1366px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  height: 100%;
  height: 400px;
}
@media only screen and (max-width: 480px) {
  .m-wrap-slider {
    height: 200px;
  }
}
.m-wrap-slider:before,
.m-wrap-slider:after {
  content: '';
  display: table;
}
.m-wrap-slider:after {
  clear: both;
}
@media only screen and (min-width: 1366px) {
  .m-wrap-slider {
    width: 1366px;
  }
}
.m-wrap-slider__content {
  -webkit-transform: translateZ(0px);
  *zoom: 1;
  width: auto;
  max-width: 970px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 80px 20px;
}
@media only screen and (max-width: 480px) {
  .m-wrap-slider__content {
    padding: 30px 10px;
  }
}
.m-wrap-slider__content:before,
.m-wrap-slider__content:after {
  content: '';
  display: table;
}
.m-wrap-slider__content:after {
  clear: both;
}
@media only screen and (min-width: 970px) {
  .m-wrap-slider__content {
    width: 970px;
  }
}
.m-wrap-slider__text {
  color: #337ab7;
  font-size: 39px;
  font-weight: 400;
  width: 400px;
}
@media only screen and (max-width: 480px) {
  .m-wrap-slider__text {
    font-size: 18px;
    width: 70%;
  }
}
@media only screen and (max-width: 1540px) {
  .owl-nav {
    display: none;
  }
}
.owl-next,
.owl-prev {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  color: #fff;
  font-size: 40px;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .icon {
  font-size: 64px;
}
.owl-prev {
  left: -5%;
}
@media only screen and (max-width: 768px) {
  .owl-prev {
    left: 2%;
  }
}
.owl-next {
  right: -5%;
}
@media only screen and (max-width: 768px) {
  .owl-next {
    right: 2%;
  }
}
.owl-dots {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
  position: relative;
  z-index: 2000;
}
@media only screen and (max-width: 480px) {
  .owl-dots {
    margin-top: -20px;
  }
}
.owl-dot {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-box-shadow: inset 0px 1px 1px;
          box-shadow: inset 0px 1px 1px;
}
@media only screen and (max-width: 480px) {
  .owl-dot {
    width: 10px;
    height: 10px;
  }
}
.owl-dot.active {
  background: #337ab7;
}
/*
 * ADD STYLE SLIDER - end
 */
/*
 * ADD STYLE calc 
 */
.m-calc__content p {
  color: #333;
}
.m-calc__content input[type="text"] {
  background-color: #fff;
  border: 1px solid #e6e9ed;
}
.calc__title-lg {
  color: #333;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
  line-height: 32px;
}
@media only screen and (max-width: 768px) {
  .calc__title-lg {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 16px;
  }
}
.m-calc__wrap {
  background-color: #f5f7fa;
  padding: 30px 20px;
  margin-bottom: 40px;
}
.m-calc__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.m-calc__row-title {
  width: 50%;
}
.m-calc__row-title--bold {
  font-weight: 700;
  color: #337ab7;
}
.m-calc__input {
  width: 35%;
}
.m-calc__input input {
  width: 60px;
}
.m-calc__divider {
  width: 100%;
  height: 2px;
  background: #ccd1d9;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}
.calc__title-md {
  font-size: 20px;
  font-weight: 400;
}
.calc__title--blue {
  color: #337ab7;
  margin: 20px 0;
}
.m-calc__row-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.m-calc__row-radio input {
  margin-right: 20px;
}
.m-calc__row-radio label {
  width: 60%;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .m-calc__row-radio label {
    width: 100%;
  }
}
.m-calc__row-radio-title {
  margin-bottom: 20px;
}
.m-calc__row-radio-wrap {
  margin-bottom: 20px;
}
.m-calc__recom {
  margin: 40px 0;
  padding: 40px;
  border: 2px solid #337ab7;
}
@media only screen and (max-width: 768px) {
  .m-calc__recom {
    padding: 20px;
  }
}
.calc__title-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .calc__title-row {
    margin-bottom: 10px;
  }
}
.calc__title-row .m-icon {
  margin-right: 20px;
}
.calc__title-row .calc__title-lg {
  margin-bottom: 0;
  width: 100%;
}
.m-icon {
  color: #337ab7;
  display: inline-block;
  font-size: 60px;
  color: #337ab7;
}
@media only screen and (max-width: 768px) {
  .m-icon {
    font-size: 30px;
  }
}
.calc__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.calc__footer .calc__title-lg {
  margin-bottom: 20px;
}
.calc__footer-icon {
  margin-right: 20px;
}
@media only screen and (max-width: 1024px) {
  .m-calc-col {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .calc__footer-col {
    margin-bottom: 20px;
  }
}
.calc__footer-info {
  width: -webkit-calc(100% - 65px);
  width: calc(100% - 65px);
}
/*
 * ADD STYLE calc - end
 */
/*
 * ADD FONT
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l9dcwz");
  src: url("../fonts/icomoon.eot?l9dcwz#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?l9dcwz") format('truetype'), url("../fonts/icomoon.woff?l9dcwz") format('woff'), url("../fonts/icomoon.svg?l9dcwz#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-m-icon-rncb-3:before {
  content: "\e90c";
}
.icon-m-icon-rncb-4:before {
  content: "\e90d";
}
.icon-m-icon-rncb-5:before {
  content: "\e90f";
}
.icon-m-icon-rncb-1:before {
  content: "\e90e";
}
.icon-m-icon-rncb-2:before {
  content: "\e910";
}
.icon-m-icon-rncb-6:before {
  content: "\e911";
}
.icon-icon-partner-7:before {
  content: "\e905";
}
.icon-icon-partner-6:before {
  content: "\e90a";
}
.icon-icon-partner-5:before {
  content: "\e90b";
}
.icon-icon-partner-2:before {
  content: "\e906";
}
.icon-icon-partner-3:before {
  content: "\e907";
}
.icon-icon-partner-4:before {
  content: "\e908";
}
.icon-icon-partner-1:before {
  content: "\e909";
}
.icon-m-icon-money:before {
  content: "\e904";
}
.icon-m-icon-calc:before {
  content: "\e900";
}
.icon-m-icon-paper:before {
  content: "\e901";
}
.icon-m-icon-people:before {
  content: "\e902";
}
.icon-m-icon-pos:before {
  content: "\e903";
}
/*
 * ADD FONT -end
*/
/*
 * add style partner
 */
.head-partner {
  background: url("../img/partner-bg.jpg") no-repeat;
  background-size: cover;
  padding: 55px;
}
@media only screen and (max-width: 1024px) {
  .head-partner {
    padding: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .head-partner {
    padding: 20px 10px;
  }
}
.head-partner .container {
  height: 560px;
}
@media only screen and (max-width: 768px) {
  .head-partner .container {
    height: auto;
  }
}
.head-partner__baner {
  width: 90%;
  height: 100%;
  padding: 50px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .head-partner__baner {
    padding: 10px;
    width: 100%;
  }
}
.m-cont-coner {
  position: relative;
}
.m-coner-one {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  left: 0px;
  top: 0px;
}
.m-coner-two {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  left: 0px;
  bottom: 0;
}
.m-coner-three {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  right: 0px;
  top: 0px;
}
.m-coner-four {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  right: 0px;
  bottom: 0px;
}
.m-coner-el {
  position: absolute;
  width: 60px;
  height: 60px;
}
.head-partner__title {
  color: #fff;
  font-family: "Open Sans";
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .head-partner__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.head-partner__title-sub {
  color: #fff;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .head-partner__title-sub {
    font-size: 18px;
  }
}
.head-partner__logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .head-partner__logos {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.head-partner__logos-el:nth-child(1) {
  margin-right: 30%;
}
@media only screen and (max-width: 768px) {
  .head-partner__logos-el:nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.head-partner__logos-el img {
  max-width: 250px;
}
.head-partner__btn {
  display: inline-block;
  border: 2px solid #fff;
  padding: 15px 70px;
  color: #fff !important;
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .head-partner__btn {
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
.head-partner__btn:hover {
  color: #fff;
  text-decoration: none;
}
.head-partner__btn:active {
  color: #fff !important;
}
.partner-solution__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}
.partner-solution__icon .m-cont-coner {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #71c8f1;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  margin-right: 20px;
}
.partner-solution__icon .m-coner-el {
  border-color: #71c8f1;
  width: 10px;
  height: 10px;
}
.partner-solution__text {
  color: #3e4852;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .partner-solution__text {
    font-size: 14px;
  }
}
.partner-diveider {
  opacity: 0.2;
  border: 1px dashed #3e4852;
  margin: 45px 0;
}
.partner-solution__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.partner-solution {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .partner-solution {
    width: 100%;
  }
}
.partner-solution__btn {
  color: #fff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  background: #fff;
  background: #71c8f1;
  width: 100%;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .partner-solution__btn {
    font-size: 16px;
  }
}
.partner-solution__btn:hover {
  text-decoration: none;
}
.m-section-solution {
  background-color: #f7f8fa;
}
.section-parnter-title {
  margin: 0 auto;
  margin-bottom: 70px;
  color: #3e4852;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .section-parnter-title {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.parnter-service__main-title {
  width: 100%;
}
.partner-service__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .partner-service__el {
    min-height: 170px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-service__el {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.partner-service__icon {
  margin-right: 10px;
  width: 20%;
}
@media only screen and (max-width: 1024px) {
  .partner-service__icon {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .partner-service__icon {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
}
.partner-service__icon i {
  color: #71c8f1;
  font-size: 90px;
}
@media only screen and (max-width: 768px) {
  .partner-service__icon img {
    margin-bottom: 30px;
  }
}
.icon-icon-partner-2 {
  font-size: 75px !important;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  .icon-icon-partner-2 {
    margin-right: 0;
  }
}
.m-section-service {
  padding-bottom: 0;
}
.partner-service__title {
  font-size: 23px;
  font-family: Open Sans;
  color: #3e4852;
  margin-bottom: 10px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .partner-service__title {
    font-size: 16px;
    text-align: center;
  }
}
.partner-service__info {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .partner-service__info {
    width: 100%;
  }
}
.partner-service__text {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .partner-service__text {
    text-align: center;
    font-size: 14px;
  }
}
.partner-work__title {
  color: #3e4852;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
}
.m-section-partner-work {
  background: #f7f8fa;
}
.partner-work__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .partner-work__el {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.partner-work__el .m-cont-coner {
  width: 140px;
  height: 140px;
  font-size: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-weight: 400;
}
.partner-work__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #71c8f1;
}
.partner-work__icon .m-coner-el {
  border-color: #0cacf2;
  width: 30px;
  height: 30px;
}
.partner-work__icon {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .partner-work__icon {
    width: 100%;
    margin-bottom: 20px;
  }
}
.partner-work__info {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .partner-work__info {
    width: 100%;
  }
}
.partner-work__text {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
@media only screen and (max-width: 768px) {
  .partner-work__text {
    text-align: center;
    font-size: 14px;
  }
}
.partner-work__el {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  .partner-work__el {
    margin-bottom: 20px;
  }
  .partner-work__el .partner-work__icon {
    -webkit-box-ordinal-group: 2 !important;
    -webkit-order: 1 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
  .partner-work__el .partner-work__info {
    -webkit-box-ordinal-group: 3 !important;
    -webkit-order: 2 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
}
.partner-work__el:nth-child(3) .partner-work__icon {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.partner-work__el:nth-child(3) .partner-work__info {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}
.partner-work__el:nth-child(5) .partner-work__icon {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.partner-work__el:nth-child(5) .partner-work__info {
  text-align: right;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.partner-work__el-title {
  font-weight: 600;
  width: 100%;
  font-size: 24px;
  font-family: "Open Sans";
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .partner-work__el-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
}
.m-partner-price__wraper {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__wraper {
    width: 100%;
  }
}
.m-partner-price__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  padding-top: 20px;
  border-bottom: 1px dashed #e1dddd;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__el {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.m-partner-price__el .m-icon {
  font-size: 80px;
}
.m-partner-price__btn {
  padding: 5px 30px;
  background-color: #72c8f0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #fff;
  margin-top: 20px;
}
.m-partner-price__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__icon {
    width: 100%;
    margin-bottom: 20px;
  }
}
.m-partner-price__icon i {
  color: #71c8f1;
}
.m-partner-price__icon i:before {
  font-size: 115px;
}
.m-partner-price__icon:hover {
  text-decoration: none;
}
.m-partner-price__info {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__info {
    width: 100%;
  }
}
.m-partner-price__text {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__text {
    text-align: center;
    font-size: 14px;
  }
}
.m-partner-price__title {
  font-weight: 600;
  font-size: 24px;
  font-family: "Open Sans";
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__title {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
}
.m-partner-price__sale {
  padding: 60px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__sale {
    padding: 20px 10px;
  }
}
.m-partner-price__sale .m-coner-el {
  border-color: #e5e5e5;
  width: 40px;
  height: 40px;
}
.m-partner-price__sale-title {
  font-family: Open Sans;
  font-size: 36px;
  color: #72c8f0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__sale-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.m-partner-price__sale-sub-title {
  font-family: Open Sans;
  font-size: 32px;
  text-align: center;
  color: #3e4852;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .m-partner-price__sale-sub-title {
    font-size: 18px;
  }
}
.m-get-partner {
  background: url("../img/partner-bg.jpg") no-repeat;
  background-size: cover;
  padding: 55px;
}
@media only screen and (max-width: 1024px) {
  .m-get-partner {
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .m-get-partner {
    padding: 0;
  }
}
.m-get-partner .container {
  height: 460px;
}
@media only screen and (max-width: 768px) {
  .m-get-partner .container {
    height: auto;
  }
}
.m-get-partner .head-partner__btn {
  margin-top: 30px;
}
.m-get-partner__baner {
  height: 100%;
  padding: 50px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .m-get-partner__baner {
    padding: 20px;
  }
}
.m-get-partner__title {
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans";
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .m-get-partner__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
}
.m-get-partner__title-sub {
  color: #fff;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .m-get-partner__title-sub {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.m-section-partner-sub-title {
  text-align: center;
  color: #3e4852;
  font-weight: 300;
  font-size: 36px;
  font-family: "Open Sans";
  font-size: 36px;
}
@media only screen and (max-width: 768px) {
  .m-section-partner-sub-title {
    font-size: 18px;
  }
}
.section-parnter-title--blue {
  color: #0059a0;
}
/*
 * add style partner-end
 */
/*
 * add style partner-svyz
 */
.head-partner__light {
  background: #eaecf0;
  padding: 20px;
}
.head-partner__title-blue {
  color: #0059a0;
}
.head-partner__title-sub-light {
  color: #0059a0;
}
.section-parnter-title__light {
  color: #0059a0;
  width: 100%;
}
.head-partner__baner-light {
  width: 100%;
}
.head-partner__btn-green {
  background: #00973c;
  border: 0px;
}
.head-partner__logos-light {
  margin: 60px 0px;
  margin-bottom: 80px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (max-width: 1200px) {
  .head-partner__logos-light {
    margin: 40px 0;
  }
}
@media only screen and (max-width: 768px) {
  .head-partner__logos-light {
    margin: 20px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.head-partner__logos-light .head-partner__logos-el:nth-child(1) {
  margin-right: 10%;
}
.section-parnter-title__blue {
  color: #0059a0;
}
.partner-work__round {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
}
@media only screen and (max-width: 768px) {
  .partner-work__round {
    width: 100px;
    height: 100px;
  }
}
.partner-work__round--green {
  border: 3px solid #00973c;
  color: #00973c;
}
.m-link-green {
  text-decoration: underline;
  color: #00973c;
}
.m-partner-price__btn-green {
  background: #00973c;
}
.m-partner-price__icon--blue i {
  color: #0059a0;
}
.m-get-partner--blue {
  background: url("../img/m-bg-svyz.jpg") no-repeat;
  background-size: cover;
}
/*
 * add style partner-svyz-end
 */
/*
 * add style partner-est
 */
.head-partner__title-red {
  color: #cf1a22;
}
.head-partner__title-sub-grey {
  color: #848484;
}
.head-partner__btn-red {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#af1319), to(#d51b24));
  background-image: -webkit-linear-gradient(bottom, #af1319 0%, #d51b24 100%);
  background-image: linear-gradient(to top, #af1319 0%, #d51b24 100%);
  border: 0px;
}
.partner-solution__icon-square {
  margin-right: 40px;
}
.partner-solution__btn-red {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#af1319), to(#d51b24));
  background-image: -webkit-linear-gradient(bottom, #af1319 0%, #d51b24 100%);
  background-image: linear-gradient(to top, #af1319 0%, #d51b24 100%);
}
.partner-solution__btn-red:hover {
  color: #fff;
}
.m-link--red {
  color: #cf1a22;
  text-decoration: underline;
}
.partner-work__coner-red {
  color: #fff;
  background: #cf1a22;
  width: 140px;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-perspective: 1050px;
          perspective: 1050px;
  background: url("../img/m-skew-bg-right.png") no-repeat;
  font-size: 52px;
}
.partner-work__el:nth-child(3) .partner-work__coner-red,
.partner-work__el:nth-child(5) .partner-work__coner-red {
  background: url("../img/m-skew-bg-left.png") no-repeat;
}
.m-partner-price__btn-red {
  background: #cf1a22;
}
.m-partner-price__icon--red i {
  color: #cf1a22;
}
.section-parnter-title--red {
  color: #cf1a22;
}
.m-get-partner--red {
  background: url("../img/m-bg-est.jpg") no-repeat;
  background-size: cover;
}
.m-section--white {
  background: #fff;
}
.m-section--grey {
  background: #f5f5f5;
}
/*
 * add style partner-est-end
 */
/*
 * add style partner-rncb
 */
.r-baner {
  height: 390px;
  background: url("../img/m-baner-rncb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1200px) {
  .r-baner {
    background-position: 70%;
  }
}
@media only screen and (max-width: 640px) {
  .r-baner {
    background: #e0e4e5;
    padding: 10px;
  }
}
.r-baner .container {
  height: 100%;
}
.r-baner__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.r-baner__info {
  width: 50%;
}
@media only screen and (max-width: 1200px) {
  .r-baner__info {
    width: 60%;
  }
}
@media only screen and (max-width: 640px) {
  .r-baner__info {
    width: 100%;
  }
}
.r-baner__title {
  color: #10aea9;
  font-size: 31px;
  font-weight: 700;
  font-family: Arial;
}
@media only screen and (max-width: 978px) {
  .r-baner__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 640px) {
  .r-baner__title {
    text-align: center;
  }
}
.r-baner__text {
  font-size: 23px;
  font-weight: 400;
  font-family: Arial;
  margin: 40px 0;
}
@media only screen and (max-width: 1200px) {
  .r-baner__text {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 978px) {
  .r-baner__text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .r-baner__text {
    text-align: center;
  }
}
.r-button,
.r-chose__card-get {
  color: #fff;
  font-family: Arial;
  font-size: 23px;
  font-weight: 700;
  background: #10aea9;
  padding: 10px 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  display: inline-block;
}
@media only screen and (max-width: 640px) {
  .r-button,
  .r-chose__card-get {
    display: block;
    text-align: center;
    font-size: 18px;
    text-decoration: none !important;
  }
}
.r-button:hover,
.r-chose__card-get:hover {
  text-decoration: none;
  background: #0c7f7c;
  color: #fff;
}
.r-section {
  padding: 50px 0;
}
@media only screen and (max-width: 640px) {
  .r-section {
    padding: 20px 10px;
  }
}
.r-section--step {
  padding-top: 10px;
}
.r-section__title {
  text-align: center;
  color: #333;
  font-family: Arial;
  font-size: 31px;
  font-weight: 400;
  margin-bottom: 60px;
}
@media only screen and (max-width: 978px) {
  .r-section__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.r-section-item__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.r-section-item__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-bottom: 50px;
}
@media only screen and (max-width: 978px) {
  .r-section-item__el {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .r-section-item__el {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}
.r-section-item__img {
  width: 25%;
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 640px) {
  .r-section-item__img {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.r-section-item__icon {
  width: 95px;
  height: 95px;
  border: 2px solid #10aea9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.r-section-item__icon i {
  color: #10aea9;
  font-size: 46px;
}
.r-section-item__info {
  width: 75%;
}
@media only screen and (max-width: 640px) {
  .r-section-item__info {
    text-align: center;
    width: 100%;
  }
}
.r-section-item__title {
  margin-bottom: 10px;
  color: #10aea9;
  font-size: 19px;
  font-weight: 700;
}
.r-step__el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 978px) {
  .r-step__el {
    margin-bottom: 20px;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
  }
}
.r-step__info {
  width: 69%;
}
@media only screen and (max-width: 978px) {
  .r-step__info {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .r-step__info p {
    font-size: 14px;
  }
  .r-step__info a {
    font-size: 14px !important;
  }
}
.r-step__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 978px) {
  .r-step__title {
    margin-bottom: 15px;
  }
}
.r-step__title-numb {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  background: #10aea9;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.r-step__title-text {
  font-size: 25px;
  font-weight: 700;
  color: #10aea9;
}
@media only screen and (max-width: 978px) {
  .r-step__title-text {
    font-size: 16px;
  }
}
.r-step__text {
  color: #565656;
  font-size: 18px;
  font-weight: 400;
}
.r-step__text a {
  color: #10aea9;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: underline;
}
.r-step__img {
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 978px) {
  .r-step__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .r-step__img img {
    max-width: 300px;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 640px) {
  .r-step__img {
    display: none;
  }
}
.r-step__img img {
  display: block;
  width: 100%;
}
.r-step__text-divider {
  text-align: center;
  color: #10aea9;
  font-weight: 700;
  margin: 25px 0;
}
@media only screen and (max-width: 978px) {
  .r-step__text-divider {
    margin: 10px 0;
  }
}
.r-step__el--reverce .r-step__info {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.r-step__el--reverce .r-step__img {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.r-step__el--reverce .r-step__img img {
  margin-left: -120px;
}
.r-instr {
  margin-bottom: 40px;
}
.r-instr__title {
  text-align: center;
  font-size: 29px;
  font-family: Arial;
  font-weight: 400;
  margin-bottom: 40px;
}
.r-instr__title sup {
  color: #10aea9;
  line-height: 10px;
  margin-top: 5px;
  top: -4px;
}
.r-instr__title-sub {
  text-align: center;
  color: #575757;
}
.r-instr__title-sub sup {
  color: #10aea9 !important;
  top: -4px;
  color: #575757;
  font-size: 15px;
}
.r-section__info {
  padding: 70px;
  background: #10aea9;
}
@media only screen and (max-width: 768px) {
  .r-section__info {
    padding: 40px 20px;
  }
}
.r-section__info p {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .r-section__info p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: inherit;
  }
}
.r-section__info p:nth-child(3) {
  margin-bottom: 0;
}
.r-section__info-title {
  color: #fff;
  font-size: 31px;
  font-weight: 700;
  font-family: Arial;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .r-section__info-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.r-section--chose {
  padding: 80px 0;
  background: #cee5e4;
}
@media only screen and (max-width: 768px) {
  .r-section--chose {
    padding: 30px 10px;
  }
}
.r-section--chose .r-section__title {
  color: #333;
}
.r-chose__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (max-width: 1024px) {
  .r-chose__wraper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.r-chose__el {
  width: 30%;
}
@media only screen and (max-width: 1024px) {
  .r-chose__el {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .r-chose__el {
    width: 100%;
  }
}
.r-chose__card {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 30px 25px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 30px;
  height: 390px;
}
@media only screen and (max-width: 1024px) {
  .r-chose__card {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.r-chose__card-discr {
  padding: 0 10px;
  width: 100%;
}
.r-chose__card-title {
  color: #10aea9;
  font-size: 22px;
  font-weight: 700;
  font-family: Arial;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}
.r-chose__card-cost {
  margin: 30px 0;
  text-align: center;
  color: #7c9695;
  font-size: 35px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .r-chose__card-cost {
    margin: 10px 0;
  }
}
.r-chose__card-info {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
}
.r-chose__card-get {
  font-size: 14px;
  width: 100%;
  padding: 15px 25px;
  text-align: center;
}
.r-chose__text {
  padding: 0 20px;
  color: #4e6665;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
}
.r-review {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px) {
  .r-review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 30px;
  }
}
.r-review__el {
  width: 45%;
}
@media only screen and (max-width: 768px) {
  .r-review__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.r-review__title {
  color: #10aea9;
  font-size: 19px;
  margin-bottom: 10px;
}
.r-regist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .r-regist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
.r-regist__enter {
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .r-regist__enter {
    width: 100%;
    margin-bottom: 20px;
  }
}
.r-regist__in {
  width: 48%;
}
@media only screen and (max-width: 768px) {
  .r-regist__in {
    width: 100%;
    margin-bottom: 20px;
  }
}
.r-regist__title {
  font-size: 22px;
  margin-bottom: 10px;
  color: #707070;
}
.r-regist__wrap {
  padding: 15px;
  border: 1px solid #c8c9c9;
}
.r-regist__wrap button {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  background: #10aea9;
  padding: 10px 30px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 0px;
  display: inline-block;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .r-regist__wrap button {
    width: 100%;
  }
}
.r-regist__wrap button:hover {
  text-decoration: none;
  background: #0c7f7c;
  color: #fff;
}
.r-regist__text {
  margin-bottom: 10px;
}
.r-form__row {
  margin-bottom: 10px;
}
.r-form__row label {
  display: block;
  color: #707070;
}
.r-form__row input {
  width: 100%;
  border: 1px solid #c8c9c9;
  padding: 5px 8px;
}
/*
 * add style partner-rncb-end
 */
