-
	pages = [
	
		{
			'name':'Главная!1',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	];
	
	partnerSolution  = [
	
		{
			'name':'Вы получили доходы от заказчика?'
		},
		{
			'name':'Вы должны их задекларировать и уплатить налог?'
		},
		{
			'name':'Были бы рады "заплатить и спать спокойно", но не хотите вникать в формальности из-за небольших сумм?'
		},
		{
			'name':'Не хотите тратить время на поход в инспекцию и очереди?'
		}
	
	];

	partnerService  = [
	
		{
			'icon':'-icon-partner-1',
			'title':'Простое заполнение',
			'text':'Вам нужно только внести некоторые данные о себе. Программа сформирует декларацию автоматически'
		},
		{
			'icon':'-icon-partner-2',
			'title':'Подача в электронном виде',
			'text':'Можно не ходить в инспекцию - подача пакета документов происходит через Интернет'
		},
		{
			'icon':'-icon-partner-3',
			'title':'Понятные инструкции',
			'text':'Всё объясняется простым, понятным языком, без сложных терминов'
		},
		{
			'icon':'-icon-partner-4',
			'title':'Бесплатная консультация',
			'text':'Вы можете задать вопрос по телефону и проконсультироваться именно по вашей ситуации'
		}
	];

	partnerPrice  = [
	
		{
			'icon':'-icon-partner-5',
			'title':'Онлайн-подготовка декларации',
			'text':'Вы вносите ваши данные в онлайн-анкету на веб-сайте Налогии, скачиваете готовую правильную декларацию и самостоятельно подаёте документы в налоговую инспекцию',

		},
		{
			'icon':'-icon-partner-6',
			'title':'Онлайн-подача декларации',
			'text':'Вы вносите ваши данные в онлайн-анкету на веб-сайте Налогии, специалисты проверяют её и помогают вам подать все документы через Интернет',

		},
		{
			'icon':'-icon-partner-7',
			'title':'Декларация "под ключ"',
			'text':'Специалисты Налогииподготовят и подадут декларацию в составе полного пакета документов. От вас потребуются только прислать нам сканы или фотографии документов',

		}
	];